<section id="hero" class="mb-5">
  <div class="container-fluid p-0 carousel-fade">
    <div id="carouselExampleIndicators" class="carousel slide placeholder-glow" data-bs-ride="carousel">
      <div class="carousel-indicators mt-5 mb-5">
        <button
          *ngFor="let banner of organization.homeBanners; let i = index"
          type="button"
          [attr.data-bs-target]="'#carouselExampleIndicators'"
          [attr.data-bs-slide-to]="i"
          [class.active]="i === 0"
          [attr.aria-current]="i === 0 ? 'true' : undefined"
          [attr.aria-label]="'Slide ' + (i + 1)"
        ></button>
      </div>

      <div class="carousel-inner ">
        <div
          *ngFor="let banner of organization.homeBanners; let i = index"
          class="carousel-item"
          [class.active]="i === 0"
        >
          <img class="d-block w-100 img-fluid" [src]="banner.url" alt="Banner image" />
        </div>
      </div>

      <div class="caption text-center start-50 translate-middle z-2">
        <div class="container">
          <h1>{{ organization.about.heroTitle }}</h1>
          <p class="text-white-50">
            {{ organization.about.heroText }}
          </p>
          <a routerLink="/sobre" type="button" class="btn btn-outline-primary">Nossa História</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="posts" class="mt-5 mb-5">
  <div class="container">
    <h4 class="fw-bold text-center mb-4">
      {{ 'home.publicacoes' | translate }}
    </h4>

    <div class="row gap-3">
      <div class="col d-flex justify-content-center" *ngFor="let item of dataInsta">
        <ccrl-card-post
          [url]="isVideo(item.mediaType) ? item.thumbnailUrl : item.mediaUrl"
          [permalink]="item.permaLink"
        ></ccrl-card-post>
      </div>
    </div>
  </div>
</section>
