<section id="hero">
  <div class="container-fluid p-0 carousel-fade">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators mb-5">
        <button
          *ngFor="let banner of organization.homeBanners; let i = index"
          type="button"
          [attr.data-bs-target]="'#carouselExampleIndicators'"
          [attr.data-bs-slide-to]="i"
          [class.active]="i === 0"
          [attr.aria-current]="i === 0 ? 'true' : undefined"
          [attr.aria-label]="'Slide ' + (i + 1)"
        ></button>
      </div>

      <div class="carousel-inner">
        <ng-container *ngIf="organization.homeBanners.length > 0">
          <div
            *ngFor="let banner of organization.homeBanners; let i = index"
            class="carousel-item"
            [class.active]="i === 0"
          >
            <img class="d-block w-100" [src]="banner.url" alt="Banner image" />
          </div>
        </ng-container>
      </div>

      <div class="caption text-center start-50 translate-middle z-2">
        <div class="container">
          <h1>{{ organization.about.heroTitle }}</h1>
          <p class="text-white-50">{{ organization.about.heroText }}</p>
          <button type="button" class="btn btn-outline-primary">
            Nossa História
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
