$white: #ffffff;
$bg: #fefefe;
$bg-2: #eeedeb;

$primary: #52be71;
$secondary: #d98d2f;

//other colors
$neutral: #374957;
$orange: #ffa723;

$button-green: #32a258;
$green: #32a258;

//sucesso
$success: #00ba7f;
$warning: $orange;

//danger
$danger-01: #da3e43;
$danger-02: #ff4c52;
