#hero {
  position: relative;
  height: 200px;

  h2 {
    z-index: 2;
    position: absolute;
    bottom: 0;
  }

  .bg {
    height: 100%;
    width: 100%;

    background-image: url('/assets/img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
    }
  }
}
