<ccrl-hero title="{{ 'projetos.titulo' | translate }}"></ccrl-hero>

<div id="projetos" class="container pt-4 pb-4">
  <section>
    <div class="d-flex">
      <div class="project__list row">
        <div class="project__item m-2 shadow" *ngFor="let project of projects" >
          <img *ngIf="project.images" [src]="project.images[0].url" class="card-img-top" />

          <h5 class="mt-2 px-2 text-center">{{ project.name }}</h5>
          <span class="px-2 py-2 text-center">
            {{ project.startDate | date: 'yyyy' }} - {{ project.endDate | date: 'yyyy' }}
          </span>

          <a
            [routerLink]="['/projetos', project.id]"
            class="text-center text-white text-decoration-none py-2"
          >
            Veja mais
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
