<ccrl-hero title="{{ 'sobre.titulo' | translate }}"></ccrl-hero>

<div class="container">
  <section id="about" class="pt-4 pb-4">
    <ccrl-gallery [images]="organization.pageBanners" />

    <div class="text-justify mt-3">
      <p [innerHTML]="organization.about.description | safeHtml"></p>
    </div>
  </section>

  <section id="principle" class="pt-4 pb-4">
    <h4 class="fw-bold text-center mb-4">{{ 'sobre.principios.titulo' | translate }}</h4>

    <div id="principle__list">
      <div id="principle__item" class="p-0 mx-2" *ngFor="let item of principles">
        <div class="icon d-flex justify-content-center">
          <img [src]="'/assets/icons/' + item.title + '.svg'" alt="icon" />
        </div>

        <h5 class="title fw-bold text-center">
          {{ 'sobre.principios.' + item.title | translate }}
        </h5>

        <div class="text-center">
          <p [innerHTML]="item.description | safeHtml"></p>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-4 pb-4" *ngIf="employees.length > 0">
    <h4 class="fw-bold text-center mb-4">{{ 'sobre.diretoria' | translate }}</h4>

    <ccrl-employee [employees]="employees" />
  </section>

  <section id="cultural-group" class="pt-4 pb-4" *ngIf="culturalGroups.length > 0">
    <h4 class="fw-bold text-center mb-4">{{ 'sobre.gruposCulturais' | translate }}</h4>

    <div class="cultural-group__list" *ngFor="let item of culturalGroups; let i = index">
      <h5 class="fw-bold">{{ item.name }}</h5>

      <div class="cultural-group__item my-2 gap-3">
        <img [src]="item.images[0].url" alt="imagem" />
        <p>{{ item.description }}</p>
      </div>
    </div>
  </section>

  <section id="documents" class="pt-4 pb-4" *ngIf="documents.length > 0">
    <button data-bs-toggle="modal" data-bs-target="#openModal">
      <i class="fa-solid fa-folder"></i>
      <span class="ms-2 text-decoration-none">{{ 'sobre.anexos.titulo' | translate }}</span>
    </button>

    <ccrl-modal>
      <div modal-title>{{ 'sobre.anexos.titulo' | translate }}</div>
      <div modal-content>
        <div class="d-flex flex-column gap-2">
          <a
            *ngFor="let item of documents"
            [href]="item.url"
            target="_blank"
            class="text-decoration-none primary"
          >
            <i class="fa-solid fa-cloud-arrow-down"></i>
            <span class="ms-2 link-dark">{{ item.title }}</span>
          </a>
        </div>
      </div>
    </ccrl-modal>
  </section>
</div>
