<!-- <nav class="navbar navbar-expand-lg" [ngClass]="homeClasses()">
  <div class="container">
    <a class="navbar-brand" [href]="logo.path">
      <img [src]="logo.url" class="d-inline-block align-top logo" alt="" />
    </a>
    <div class="navbar-nav d-none d-lg-flex">

        <a
          class="nav-item nav-link"
          [ngClass]="{ 'text-white': isHome }"
          *ngFor="let item of menu"
          [href]="item.path"
        >
          {{ item.title }}
        </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="icon fa-solid fa-bars"></i>
    </button>
  </div>
</nav>

<div class="collapse shadow-sm d-lg-none" id="navbarToggleExternalContent">
  <div class="navbar-nav pt-4 pb-4">
    <a
      class="nav-item nav-link text-center"
      *ngFor="let item of menu"
      [href]="item.path"
    >
      {{ item.title }}
    </a>
  </div>
</div> -->
