@import 'shared';

// .text-white{
//   color: red !important;
// }
.navbar {
  &-brand {
    .logo {
      height: 42px;
    }
  }

  &-nav {
    .nav-link {
      &:hover {
        transition: 0.2s all linear;
        color: $primary !important;
      }
    }
  }

  &-toggler {
    border: none;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
