<footer id="footer" class="">
  <div class="container pt-4 pb-4">
    <div class="d-flex flex-column flex-lg-row align-items-lg-start align-items-center gap-4">
      <div class="col logo d-flex flex-column align-items-center justify-content-center">
        <img [src]="organization.logo.url" alt="" />
      </div>

      <!-- Menu -->
      <div class="col d-flex flex-column">
        <h6>{{ 'footer.menu' | translate }}</h6>
        <span class="mb-2" *ngFor="let item of menu">
          <a [href]="item.path" class="text-decoration-none text-dark">
            {{ item.title }}
          </a>
        </span>
      </div>
      <div class="col d-flex flex-column text-black">
        <h6>{{ 'footer.contatos' | translate }}</h6>

        <!-- Email -->
        <div class="mb-2">
          <i class="fa-solid fa-envelope col-1"></i>
          <span>{{ organization.email }}</span>
        </div>

        <!-- Telefone -->
        <div class="mb-2">
          <i class="fa-solid fa-phone col-1"></i>
          <span>{{ organization.phone }}</span>
        </div>

        <!-- Endereço -->
        <div class="mb-2">
          <i class="fa-solid fa-location-dot col-1"></i>
          <span
            >{{ organization.address.city }} -
            {{ organization.address.state }}
          </span>
        </div>

        <div>
          <i class="fa-solid fa-hashtag col-1 me-2"></i>

          <!-- Facebook -->
          <a [href]="organization.facebook" target="_blank" class="social-media fs-5 text-dark">
            <i class="fa-brands fa-square-facebook"></i>
          </a>

          <!-- Instagram -->
          <a
            [href]="organization.instagram"
            target="_blank"
            class="social-media fs-5 text-dark ms-3"
          >
            <i class="fa-brands fa-square-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container text-center text-black-50 pt-2 pb-2">
      <span>© 2023. All Rights Reserved by {{ organization.name }}</span>
    </div>
  </div>
</footer>
