@import "shared";

#documents {
  button {
    color: $primary;
    border: none;
    background: none;

    &:hover {
      span,
      .fa-folder {
        color: darken($primary, 10%);
      }
    }
  }
}
